<!DOCTYPE html>
<html>
  <head>
    <title>Han Asoka</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">

  </head>
  <body>
    <h1>Han Asoka's Journey</h1>
    <img src="{{ url_for('static', filename='banner.jpg') }}" width="500" height="300">
    <h2>About Me</h2>
    <p>Welcome to my journey of transformation, where I've navigated the diverse landscapes of island tourism, travel startups, and now, the ever-evolving realm of software development. This path, driven by a passion for problem-solving and a yearning to make a tangible impact, has led me to embrace the empowering world of Python programming.</p>
    <h2>Articles</h2>
    <button>Contact Me</button>

  </body>
</html>