<div class="border-bottom row" style="margin-bottom:16px; padding-bottom: 8px">
  <div class="col-10">
    <h4 style="color:rgb(64, 22, 20); margin-bottom:4px">{{article["title"]}}
    </h4>
    <div>
      <b>Author:</b> {{article["author"]}}
    </div>
    {% if "content" in article %}
    <div>
      <b>Content:</b>{{article["content"]}}
    </div>
    {% endif %}
  </div>
  <div class="col-2">
    <a href="mailto:han747sp@gmail.com?subject=Inquiry%20About%20{{article["title"]}}&body=Name%3A%20%3CYour%20name%20here%3E%0D%0ATravel%20Date%3A%20%3CEnter%20your%20travel%20date%3E%0D%0ANumber%20of%20Adult%3A%20%3CPerson%20above%20age%2012%3E%0D%0ANumber%20of%20Child%3A%20%3CPerson%204-12%20years%20old%3E%0D%0ANumber%20of%20Infant%3A%3CPerson%20age%200-4%20years%20old%3E" type="button" class="btn btn-outline-primary">Read</a>
  </div>
</div>
